@model Vidly.Models.Movie
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")


<h2>@Model.Name</h2>

@Scripts.Render("~/bundles/bootstrap")


